@import "font-icons";
@import "font-family";

$font-family-base: "Futura", "Heineken", -apple-system, "Helvetica Neue", "Roboto", sans-serif;
$font-family-md-base: "Futura", "Heineken", "Roboto", "Helvetica Neue", sans-serif;
$font-family-md-base: "Futura", "Heineken", "Segoe UI", "Noto Sans", sans-serif;
