ion-navbar {
  .bar-buttons {
    order: 1;
  }

  .toolbar-title {
    color: color($colors, light);
  }

  .toolbar-title span:first-child {
    font-weight: bold;
    border-bottom: 1px solid color($colors, light );
  }

  .toolbar-title span:last-child {
    display: inline-block;
    font-size: 50%;
    padding-top: .5vh;
  }

  .toolbar-title span:only-child {
    font-size: 120%;
  }

  .toolbar-content .title {
    padding: 0;
    text-transform: uppercase;
    z-index: -1;
  }

  button ion-icon {
    font-size: 4rem;
  }

}
