// Named Color Variables
// --------------------------------------------------

$colors: (
  primary:    #173f1f,
  secondary:  #365f3e,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #222
);
